data/*
Additional_Results/*
filesList.csv
**.png
**.pyc
**.pkl
**.torch
**.tar.gz
**.log
**.ckpt
**.ckpt_ABORT
**.npy
**.csv
INN/checkpoints/*
INN/checkpoint/*
INN/.ipynb_checkpoints/*
/INN/dataBoundary.npy
/INN/dataImages.npy
/INN/dataImagesPCA.npy
/INN/pca.pkl
/INN/Result.png
/INN/img/*
/INN/imgs/*
/INN/checkpoints/*
/INN/FrEIA/__pycache__/*
/INN/FrEIA/modules/__pycache__/*
my_nn/checkpoints/*
my_nn/checkpoint/*
my_nn/.ipynb_checkpoints/*
/my_nn/dataBoundary.npy
/my_nn/dataImages.npy
/my_nn/dataImagesPCA.npy
/my_nn/pca.pkl
/my_nn/Result.png
/my_nn/img/*
/my_nn/imgs/*
/my_nn/checkpoints/*
/my_nn/test_y
