data/*
Additional_Results/*
filesList.csv
**.png
**.pyc
**.pkl
**.torch
**.tar.gz
**.log
INN/checkpoints/*
INN/checkpoint/*
INN/.ipynb_checkpoints/*
/INN/dataBoundary.npy
/INN/dataImages.npy
/INN/dataImagesPCA.npy
/INN/pca.pkl
/INN/Result.png
/INN/img/*
/INN/imgs/*
/INN/checkpoints/*
/INN/FrEIA/__pycache__/*
/INN/FrEIA/modules/__pycache__/*
