data/*
filesList.csv
/EIT_train/dataBoundary.npy
/EIT_train/dataImages.npy
/EIT_train/dataImagesPCA.npy
/EIT_train/pca.pkl
/EIT_train/Result.png
/EIT_train/model.torch
/EIT_train/FrEIA/__pycache__/*
/EIT_train/FrEIA/modules/__pycache__/*
